.post{
    width: 100%;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    border-radius: 10px;
    margin: 30px 0;
}
.post-wrapper{
    padding: 10px;
}
.post-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-top-left{
    display: flex;
    align-items: center;
}
.post-profile-img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.post-username{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.post-date{
    font-size: 12px;
}
.post-center{
    margin: 20px 0;
}
.post-img{
    width: 100%;
    margin-top: 20px;
    object-fit: cover;
}
.post-bottom{
display: flex;
align-items: center;
justify-content: space-between;
}
.post-bottom-left{
    display: flex;
    align-items: center;
}
.like-icon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.post-like-counter{
    font-size: 15px;
}
.post-comment-text{
    cursor:pointer;
    font-size: 15px;
    border-bottom: 1px dotted gray;
}


@media only screen and (max-width: 40em) {
  
}
